<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd


">

    <context:component-scan base-package="entity"/>
    <bean id="stuClassId" class="entity.StudentClass"/>
    <bean id="stuId" class="entity.Student">
        <property name="id" value="001"/>
        <property name="stuClass" ref="stuClassId"/>
    </bean>

    <bean id="myBeanFactoryId" class="BeanFactory.MyBeanFactory" factory-method="createStudent"/>

    <bean id="beanFactoryNoStaticId" class="BeanFactory.BeanFactoryNoStatic"/>
    <bean id="studentId" factory-bean="beanFactoryNoStaticId" factory-method="createStudent"/>

    <bean id="studentDaoId" class="dao.impl.StudentDaoImpl" init-method="init" destroy-method="destroy" scope="prototype"/>



    <!--<bean id="stuClassId" class="entity.StudentClass">-->
        <!--<constructor-arg index="0" value="2016"/>-->
        <!--<constructor-arg index="1" value="软件开发"/>-->
        <!--<property name="count" value="35"/>-->
    <!--</bean>-->
    <!--<bean id="stu" class="entity.Student">-->
        <!--<constructor-arg index="0" value="2016001"/>-->
        <!--<constructor-arg index="1" value="张三"/>-->
        <!--<property name="sex" value="男"/>-->
        <!--<property name="stuClass" ref="stuClassId"/>-->
    <!--</bean>-->
    <bean id="stuDaoId" class="dao.impl.StudentDaoImpl">

    </bean>

    <bean id="stuServiceId" class="bll.impl.StudentServiceImpl">
        <property name="studentDao" ref="stuDaoId"/>
    </bean>
</beans>